<h1>About</h1>
<p>
	<%= link_to "PinClone", root_path %>
	is a Clone of
	<%= link_to "Pinterest", "https://in.pinterest.com/" %>
	where people can share, store or view pics with their user accounts.
</p>
