<div class="jumbotron">
	<h1>Welcome to PinClone!</h1>
	<p>
		HomePage For PinClone a Clone of
		<%= link_to "Pinterest", "https://in.pinterest.com/" %>
	</p>
    
    <p>
	    <%= link_to "Sign Up Now!", "#", class: "btn btn-primary btn-lg" %>
    </p>
</div>